#content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

/* header */
.header {
  margin-bottom: 48px;
}

.restart-btn {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: gold;
}

/* main */
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.user-name, .computer-name {
  margin-bottom: 16px;
}

.grid {
  display: grid;
  width: 410px;
  height: 410px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.cell {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.cell:hover {
  background-color: yellow;
}

.occupied {
  background-color: yellow;
}

.hit {
  background-color: tomato;
}

.miss {
  background-color: gainsboro;
}

.ship-container {
  display: flex;
  gap: 16px;
}

.ship-name {
  text-align: left;
  font-weight: 600;
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin: 8px;
}

.ship {
  display: flex;
  margin: 8px 0 8px 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.ship-cell {
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-right: 1px solid black;
}